body{
    background:#4397f0;
    color: #FF0000;
    margin: 100px;
}
p{
    color: #000000;
}
.noun{
    font-weight: 500;
    color: #000000;
}
p.noun{
    color:black;
}
img {
  border: 4px solid #000;
  border-radius: 8px;
  padding: 10px;
  width: 200px;

}
